# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
ambiente/
venv/
.venv/

# Database
db.sqlite3

# Django static files collected
staticfiles/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
