{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} DocBase {%endblock%}</title>
    <link rel="stylesheet" href="{% static 'estilouno.css' %}?v=2">
</head>
<body>
    <header>
        <h1>Colonias de la República Mexicana</h1>
        <nav>
            <a href="{%url 'principal' %}">Principal</a>
            <a href="{%url 'estado_list' %}">consultar estados</a>
            <a href="{%url 'Estado_create'%}">crear estado</a>
            <a href="{%url 'municipio_list'%}">municipios</a>
            <a href="{%url 'municipio_create'%}">crear municipio</a>
            <a href="{%url 'colonia_list'%}">colonias</a>
            <a href="{%url 'colonia_create'%}">crear colonia</a>
            
        </nav>
    </header>
    <main>
        {%block content%}
        {%endblock%}
    </main>
</body>
</html>