{%extends 'base.html'%}
{%block content%}

<h2>bienvenido</h2>
<hr>
<p>Dentro de esta página podrás navegar para consultar las colonias, los municipios y los estados de la República Mexicana. Así mismo podrás realizar operaciones de "ABC" Altas Bajas y Cambios de los mismos </p>
<label>Para comenzar da click en el siguiente botón</label> 
<a class="boton" href="{%url 'principal'%}"> Comenzar</a>
<footer>
    <hr>
    <pre class="derecha">León González Daniel Enrique
        Proyecto 3er parcial Desarrollo de Aplicaciones en Internet &copy; 2025</pre>
{%endblock%}